.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}


.inputEditor{
    height: 20vh;
    outline: none;
    float: right;
    width: 100%;
    /* border: 1px solid green; */

}

.output{
    height: 20vh;
    float:right;
    width: 100%;
    background-color:#1d223b;
    color: #eee;
    font-size: 16px;
}

.inputEditor textarea{
    font-family: 'Times New Roman', Times, serif;
    background-color:#1a1c29;
    height: 100%;
    width: 100%;
    color: #eee;
    font-size: 18px;
    border: none;
}


.inputEditor textarea:focus{
    outline: none;
}

.formWrapper {
    background: #03105c;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    /* height: 100vh; */
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #4aee88;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #4aed88;
    width: 100%;
    margin-left: auto;
}



.joinBtn:hover,
.leaveBtn:hover {
    background: #2b824c;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}

.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}
.header{
    text-align: center;
}
.createNewBtn:hover,
footer a:hover {
    color: #368654;
    border-color: #368654;
}

.mainWrap {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}

.logo{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.logoImage {
    height: 60px;
}

.joinBtn{
    width: 100%;
}

.leaveBtn {
    width: 100%;
    margin-top: 20px;
}
.CodeMirror {
    /* height: 60vh; */
    min-height: calc(60vh - 40px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}
.copyBtn{
    margin-top: 20px;
}

.copyBtn:hover{
    background-color: antiquewhite;
}

.runBtn:hover{
     background-color: #1d223b;
     color: white;
}

.editorWrap{
    height: 60vh;
}
